/* ========== ROOMIE ADMIN STYLES ========== */

/* Fundo geral */
body {
    background-color: #f5f5f5 !important;
    font-family: 'Segoe UI', sans-serif !important;
    color: #333 !important;
  }
  
  /* Header do admin */
  #header {
    background-color: #6F0A0C !important;
    border: none !important;
  }
  
  #header h1, #header a {
    color: white !important;
  }
  
  /* Barra lateral */
  #user-tools {
    color: #fff !important;
  }

  #user-tools img {
    display: none !important;
}
  
  /* Área central */
  #content {
    background-color: white !important;
    padding: 20px !important;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

  .main caption {
    background-color: #6F0A0C;
  }
  
  /* Títulos */
  .module h2, .module caption, .inline-group h2 {
    color: #333 !important;
    font-size: 18px;
    font-weight: bold;
  }

  .module h2 {
    color: white !important;
    background-color: #6F0A0C !important; 
}
  
  /* Botões */
  .button, input[type="submit"], input[type="button"], .submit-row input {
    background-color: #6F0A0C !important;
    color: white !important;
    border: none !important;
    padding: 8px 16px !important;
    border-radius: 6px !important;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .button:hover, input[type="submit"]:hover, input[type="button"]:hover, .submit-row input:hover {
    background-color: #6F0A0C !important;
  }
  
  /* Links */
  li.addlink a {
    color: #6F0A0C !important;
  }

  a {
    color: white !important;
  }

  a.addlink, a.changelink {
    color: #6F0A0C !important;
  }
  
  /* Tabela */
  table {
    border-collapse: collapse !important;
    border: 1px solid #ddd !important;
    background-color: #888 !important;
  }
  
  th {
    background-color: #722E2F !important;
    color: #f5f5f5 !important;
    font-weight: bold;
  }
  
  /*Específicos*/
  div.breadcrumbs {
    background-color: #6F0A0C;
  }

  .object-tools a:link, .object-tools a:visited {
    background-color: #6F0A0C;
    color: #f5f5f5 !important;
  }

  .selector-chosen-title {
    background-color: #6F0A0C;
  }
  
  .theme-toggle svg.theme-icon-when-auto, .theme-toggle svg.theme-icon-when-dark, .theme-toggle svg.theme-icon-when-light {
    color: #6F0A0C;
  }
  /* Rodapé */
  #footer {
    background-color: transparent !important;
    color: #888 !important;
  }
